In [1]:
print("Python") # To print

Python

In [2]:
import sys

print("python version:", sys.version)   # To know the version

python version: 3.11.7 (main, Dec 15 2023, 12:09:04) [Clang 14.0.6 ]

In [6]:
if 1000 > 999:
    print("1000 is greater")    # Python uses indentation to indicate block of code, else it throws an error (IndentationError)

1000 is greater

In [7]:
print("Python")   # Hash is used to add a comment so that it increases readability
                  # Two types: Single line comment and multi-line comment

Python

In [8]:
# Python Identifiers: To identify a variable, function, class, module or an object.

In [1]:
import keyword

python_keywords = keyword.kwlist
print(python_keywords)   # Display the list of keywords
len(python_keywords)     # Total number of keywords or reserved words#

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

In [19]:
# Python Variables: memory locations to store values with in a python program

a = 1000   # 'a' is a variable
print(a)

1000

In [31]:
# Rules to create a variable:

In [ ]:
#valid
var = 5          # can alpha
var_2 = 'Python' # variable name can be alpha-numeric 
_var = 'Python'  # can start with _

In [30]:
#invalid

1_var = 5  #cannot start with number
@var = 5   #cannot start with special characters like @,$,(,*,etc
for = 'python' # cannot use keywords as variables

SyntaxError: invalid decimal literal (3423532801.py, line 3)

In [39]:
a = 10
b = 'python'
c = 4.55

print(type(a))   # use 'type' to know the data type of a variable
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [45]:
# Multiple variables

a,b,c = "How", "are", "you?"

print(a)
print(b)
print(c)

How
are
you?

In [49]:
a=b=c = 15    # assigning one variable to multible variables

print(a)
print(b)
print(c)

15
15
15

In [52]:
# Unpacking: extract the values into variables

fruits = ["apple", "cherry", "blueberry"]
a,b,c = fruits
print(a)
print(b)
print(c)

apple
cherry
blueberry

In [53]:
# Python Data Types

In [5]:

a=455
b='shruti'
c=15j+10
d=10.5

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'complex'>
<class 'float'>

In [9]:
# Type conversion

x=float(a)
print(x)
print(type(x))

y=int(d)
print(y)
print(type(y))

455.0
<class 'float'>
10
<class 'int'>

In [13]:
# Python booleans-true or flase

print(40<50)
print(0==0)
print(5<1)

True
True
False

In [14]:
# bool function

print(bool("shruti"))
print(bool(5>10))

True
False

# Python Operators

In [ ]:
# Arithmetic Operators

In [20]:
a=500
b=200

c=a+b
d=a-b
e=a/b
f=a%b
g=a//b
h=a*b

x=2
y=4
i=x**y

print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)

700
300
2.5
100
2
100000
16

In [21]:
# Assignment Operator

In [27]:
a=10
b=20

a+=b


print(a)

30

In [34]:
a-=b
print(b)

20

In [30]:
a*=b
print(a)

-200

In [31]:
a/=b
print(a)

-10.0

In [32]:
a%=b
print(a)

10.0

In [33]:
a**=b
print(a)

1e+20

In [35]:
# Comparison Operator

In [36]:
a=10
b=20

In [37]:
a==b

False

In [38]:
a!=b

True

In [39]:
a>b

False

In [40]:
a<b

True

In [41]:
a<=b

True

In [42]:
a>=b

False

In [43]:
# Logical Operator

In [51]:
print(5>3 and 4>2)
print(5>3 or 4<2)
print(not(5>3 or 4<2))

True
True
False

In [52]:
# Identity Operator

In [56]:
a=10
b=10
c='Python'
d='Python'

print(a is b)
print(a is d)
print(c is d)
print(a is not b)

True
False
True
False

In [57]:
# Membership Operator

In [63]:
a=[1,4,7,2,9,4]
c='Python'

print('P' in c)
print('s' in c)
print(4 in a)
print(10 not in a)

True
False
True
True

In [64]:
# Bitwise Operator

In [65]:
# List

In [69]:
list = [15,'shruti', 15.2] 
print(list[1])  #access list
print(list[-1])

shruti
15.2

In [73]:
my_list = ['s','h','r','u','t','i']
print(my_list[1:5])  #slicing
print(my_list[-2:])

['h', 'r', 'u', 't']
['t', 'i']

In [74]:
# List Methods

In [76]:
names=['Shruti', 'Krish', 'Ayesha']
names.append('Shri')
print(names)

['Shruti', 'Krish', 'Ayesha', 'Shri']

In [81]:
names=['Shruti', 'Krish', 'Ayesha']
names.insert(2,5)
print(names)

['Shruti', 'Krish', 5, 'Ayesha']

In [82]:
names=['Shruti', 'Krish', 'Ayesha']
names.extend('Shri')
print(names)

['Shruti', 'Krish', 'Ayesha', 'S', 'h', 'r', 'i']

In [83]:
names=['Shruti', 'Krish', 'Ayesha','Shri']
names.remove('Shri')
print(names)

['Shruti', 'Krish', 'Ayesha']

In [96]:
names=['Shruti', 'Krish', 'Ayesha']
c=names.pop(0)
print(c)

Shruti

In [94]:
names=['Shruti', 'Krish', 'Ayesha','Shri']
c=names.index('Shri')
print(c)

3

In [99]:
a=[1,3,6,8,3]
c=a.count(3)
print(c)

2

In [102]:
a=[1,3,6,8,3]
a.reverse()
print(a)

[3, 8, 6, 3, 1]

In [103]:
# strings

In [104]:
name1='shruti'
name2='shru'
res=name1+" "+name2
print(res)

shruti shru

In [113]:
name1='shruti'
res= name1 *   2
print(res)

shrutishruti

In [117]:
name1='shruti'
print(name1[1])
print(name1[-2])

h
t

In [118]:
# Python Formats

In [122]:
name='shruti'
age=21
formatt= "My name is %s and I am %d." %(name,age)
print(formatt)

My name is shruti and I am 21.

In [125]:
name='shruti'
age=21
res= "My name is {} and I am {}.".format(name,age)
print(res)

My name is shruti and I am 21.

In [127]:
name='shruti'
age=21
res= f"My name is {name} and I am {age}."
print(res)

My name is shruti and I am 21.

In [128]:
# String methods

In [129]:
str1="I live in Hyderabad"
length=len(str1)
print(length)

19

In [131]:
str1="I live in Hyderabad"
l=str1.upper()
print(l)

I LIVE IN HYDERABAD

In [132]:
str1="I live in Hyderabad"
l=str1.lower()
print(l)

i live in hyderabad

In [135]:
str1="     I live in Hyderabad   "
l=str1.strip()
print(l)
print(str1)

I live in Hyderabad
     I live in Hyderabad

In [136]:
str1="I live in Hyderabad"
l=str1.replace('live','stay')
print(l)

I stay in Hyderabad

In [137]:
str1="I live in Hyderabad"
l=str1.split()
print(l)

['I', 'live', 'in', 'Hyderabad']

In [141]:
str1=['I', 'live', 'in', 'Hyderabad']
l=' '.join(str1)
print(l)

I live in Hyderabad

In [142]:
# tuple